body {background-color: #e3f2fd;;}

#window{
    margin-top: 50px;
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}
.swapbox_select {
    width: 50%;
    float: left;
}
.swapbox{
    overflow: auto;
    margin: 20px 0;
    padding: 20px;
    background-color: #2f2f2f;
    border-radius: 20px;
    border: 1px solid #565656;
}
.token_select{
    padding:5px 0;
}
.token_select:hover{
    background-color: #464646;
    cursor: pointer;
    
}
.token_list_img, .token_image{
    width: 40px;
}
.modal-body{
    height: 600px;
    overflow: scroll;
}
.token_row{
    padding: 5px 10px;
}
.token_row:hover{
    background-color: #e4e4e4;
    cursor: pointer;
}

.mainInfo {
    padding: 170px 0;
    text-align: center;
}
.button {
    font: bold 21px Arial;
    text-decoration: none;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 5px solid #CCCCCC;
    border-right: 5px solid #333333;
    border-bottom: 5px solid #333333;
    border-left: 5px solid #CCCCCC;
  }